<div class="card group/card border bg-gray-200 overflow-hidden rounded-md">
    <div class="inner relative">
        <figure class="header overflow-hidden relative">
            <img class="aspect-video object-cover group-hover/card:scale-110 duration-200" src="./assets/about-me-01.png" alt="certificate image">
            <a href="./assets/cv.pdf" download="certificate title" class="bg-gold text-white absolute top-2 right-2 p-2 rounded-md shadow-md md:-translate-y-[200%] text-sm group-hover/card:translate-y-0 duration-200">Download Certificate</a>
        </figure>
        <div class="content p-5 bg-gradient-to-b from-transparent to-white absolute bottom-0 left-0 right-0 md:translate-y-full md:group-hover/card:translate-y-0 duration-200">
            <h1>CS3 Certificate</h1>
            <p>Completed in 2025</p>
            <p class="text-sm text-golder">Sadat University</p>
        </div>
    </div>
</div>